.social {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    .socialbutton {
        margin-right: 10px;
        width: 14px;
        border-radius: 70%;
        margin-bottom: 10px;
        a {
            color: #696969;
            &:hover {
                background-color: #fff;
                color: #C79D68;
                -webkit-transition: all 0.3s ease;
                transition: all 0.3s ease;
            }
        }
    }
}
