.menu {
  width: 100%;
  margin: 0 0 2em;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
  font-family: 'Opens Sans' sans-serif;
  ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: row;
    align-items: baseline;
    margin: 0;
    padding: 0;
    li {
      a {
        font-size: 14px;
        text-decoration:none;
        padding:0px 15px;
        color: #808080; 
        &:hover {
          color: red;
        }
        &:active {
          background-color: #aaa;
          color: green;
          cursor: default;
        }
      }
    }
  }
}


