@import url(https://fonts.googleapis.com/css?family=Open+Sans);


$font-h1 : 			'Opens Sans' sans-serif;

$white : 			#FFFFFF;
$grey :				#808080;
$red :				#FF0000;


$roundness:         20px 0 20px 0;
